div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e293b;
}

p {
  text-align: center;
  margin-top: 10px;
}