div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e293b;
}

button {
  background-color: #16a34a;
}

button:hover {
  background-color: #15803d;
}