ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}