server:
  port: 8080

spring:
  application:
    name: frontend-backend-integration

  datasource:
    url: jdbc:postgresql://localhost:5432/task_manager_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: mySuperSecretKey1234567890
  expiration: 3600000 # 1 day in milliseconds

logging:
  level:
    org.springframework.security: DEBUG